<!DOCTYPE html>
<html>
  <head>
    <title>Taskleaf1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="app-title navbar nabvar-expand-md navbar-light bg-light">
      <div class="navbar-brand">
      </div>
    </div>
    <div class="container">
      <% if flash.notice.present? %>
      <div class="alert.alert-success">
        <%= flash.notice %>
      </div>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
